@charset "UTF-8";

body{
    background-color:#b3d8b3;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:#162c17;
}

h2{
    color: #478b48;
}

h1#principal{
    text-align: center;
    color:rgb(31, 25, 13);
    background-image: linear-gradient(to right,#79F27B, #73E675,#65CC66);
}
.basico{
    color:#376633;
    font-weight: 400;
}

.intermediario{
color: #8b8647;
}

.avancado{
    color: #663333;
}

.destaque{
    background-color: #b4ae5b;
}